<h2><%= @student.name %></h2>
<h3><%= Instructor.find(@student.instructor_id).name %></h3>
<%= link_to "Edit Student", edit_student_path(@student) %>
<%= link_to "Delete Student", student_path(@student), method: :delete %>
